/* CONTACT FORM */
.contact{
    margin: 0;
    padding: 0;
    transition: 0.5s;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
}
body{
    height: 100vh;
    width: 100%;
}
.contact__image-wrapper{
    height: 90%;
    width: 40%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__image{
    width: 80%;
}
.contact__right-side{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 7.3 0 4.7%;
    width: 50%;
    font-family: "Montserrat";
    font-weight: 500;
}
.contact__title{
    font-size: 60px;
    font-family: "Anton";
    font-weight: 800;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.contact__form-wrapper, .contact__input-line{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
.contact__input-line{
    margin-bottom: 45px;
}
.contact__label{
    font-size: 18px;
    font-weight: 400;
}
.contact__input{
    height: 30px;
    outline: none;
    padding: 5px 0;
    border-bottom: 2px solid #bfd068;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    color: #1F1E1F;
    background-color: transparent;
}
.contact__input--textarea{
    height: 100px;
    outline: none;
    padding: 5px 0;
    border-bottom: 2px solid #bfd068;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    color: #1F1E1F;
    background-color: transparent;
    resize: none;
}
.contact__submit-button{
    padding: 18px 55px;
    background-color: #1f1e1f;
    border-radius: 50px;
    color: #bfd068;
    font-weight: 500;
    font-family: 'Montserrat';
    font-size: 15px;
    cursor: pointer;
}
.contact__submit-button:hover{
    background-color: #827bb1;
}