*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#features{
    padding: 40px 0;
    h2{
        line-height: 1.2em;
        font-weight: 200;
        padding-bottom: 30px;
        font-family: "Anton";
        color: #2a5ddf;
    }
    h4{
        font-family: "Montserrat";
        font-size: 24px;
        color: #f97b4e;
    }
    .features-row{
        display: flex;
        padding-bottom: 40px;
        padding-top: 20px;
        &-content{
            padding-right: 40px;
            p{
                padding-top: 10px;
                padding-bottom: 15px;
                font-family: "Montserrat";
                font-size: 15px;
                color: #1f1e1f;
                font-weight: 500;
            }
        }
    }
}